body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #353b48;
}
.circle{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(250, 165, 7);
    animation: pulse 2s infinite;
}
@keyframes pulse{
    0%{
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgb(250, 165, 7);
    }
    70%{
        transform: scale(1);
        box-shadow: 0 0 0 8px rgb(250, 165, 7);
      
    }
    100%{
        transform: scale(0.9);
    }
}